<h1 id="tableLabel">Calculate Premium</h1>

<p>This component calculate premium from the server based on user input.</p>

<p *ngIf="!calculatePremium"><em>Loading...</em></p>


<div class="alert alert-danger" role="alert" *ngIf="calculatePremium.errors.length>0">
  <ul>
    <li *ngFor="let error of calculatePremium.errors">
      {{ error }}
    </li>
  </ul>
</div>

<form *ngIf="calculatePremium" [formGroup]="calculatorForm" (ngSubmit)="onClickSubmit()">
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" placeholder="Enter Name" name="name" formControlName="name" required>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="!calculatorForm.controls.name.valid">
      You must enter a Name
    </div>
  </div>
  <div class="form-group">
    <label for="Age">Age</label>
    <input type="text" class="form-control" id="Age" placeholder="Enter Age" name="age" formControlName="age" required>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="!calculatorForm.controls.age.valid">
      You must enter Age
    </div>
  </div>
  <div class="form-group">
    <label for="DateOfBirth">Date Of Birth</label>
    <input type="date" class="form-control" id="DateOfBirth" placeholder="Enter Date Of Birth" name="dateOfBirth" formControlName="dateOfBirth" required>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="!calculatorForm.controls.dateOfBirth.valid">
      You must enter Date Of Birth
    </div>
    <div class="alert alert-danger"
         role="alert" *ngIf="calculatePremium.dateOfBirthValidationError">
      {{calculatePremium.dateOfBirthValidationError}}
    </div>
  </div>
  <div class="form-group">
    <label for="SumInsured">Sum Insured</label>
    <input type="number" class="form-control" id="SumInsured" placeholder="Enter Sum Insured" name="sumInsured" formControlName="sumInsured" required>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="!calculatorForm.controls.sumInsured.valid">
      You must enter Sum Insured
    </div>
    <div class="alert alert-danger"
         role="alert" *ngIf="calculatePremium.sumInsuredValidationError">
      {{calculatePremium.sumInsuredValidationError}}
    </div>

  </div>
  <div class="form-group">
    <label for="Occupations">Select Occupation</label>
    <select class="form-control" id="RatingId" name="ratingId" formControlName="ratingId" (change)="onOccupationChange($event)" required>
      <!--<option [ngValue]="selected">--Select Occupation--</option>-->
      <option [value]='o["ratingId"]' *ngFor="let o of calculatePremium.occupations" [selected]='o["occupationTitle"]==="Cleaner"'>{{o["occupationTitle"]}}</option>
    </select>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="!calculatorForm.controls.ratingId.valid">
      You must select Occupation
    </div>
    <small id="emailHelp" class="form-text alert-success">Select an occupation or click button to calculate yearly premium.</small>
  </div>
  <div class="alert alert-success"
       role="alert"
       *ngIf="calculatePremium.calculatedPremium">
    <p><b>Calculated Premium : </b><em>{{calculatePremium.calculatedPremium}}</em></p>

  </div>
  <button type="submit" class="btn btn-primary" (onClick)="onClickSubmit()">Claculate Premium</button>
</form>
